header{
    position: relative;
    menu{
        padding: 2rem 4rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 3;
        border-left: 9px solid $color_blue;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
        transition: all 0.5s;
        @include respond(down-tab-port){
            padding: 2rem;
        }
        &.active_scroll{
            // opacity: 0;
            // visibility: hidden;
            top: -100%;
        }
        .menu__link{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            height: 100%;
            padding-top: 1rem;

            &-top{
                li{
                    a{
                        font-size: 1.1rem;
                        color: black;
                        text-decoration: none;
                        span{
                            position: relative;
                            margin-left: 1rem;
                            img{
                                width: 10px;
                                object-fit: contain;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
            }

            &-bottom{
                display: flex;
                li{
                    a{
                        font-size: 1.2rem;
                        text-decoration: none;
                    }
                }
                &-left{
                    border-right: 1px solid black;
                    li{
                        a{
                            &.active{
                                color: black;
                            }
                        }
                    }
                }
                &-right{
                    margin-left: 2rem;
                    li{
                        a{
                            color: black;
                        }
                    }
                }
            }
            ul{
                li{
                    list-style: none;
                    display: inline-block;
                    margin-right: 2rem;
                }

                &:first-child{
                    margin-bottom: 0;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

        .menu_mobile{
            a{
                img{
                    @include respond(down-tab-port){
                        width: 50px;
                        object-fit: contain;
                    }
                }
                &.open{
                    z-index: 3;
                }
                &.active{
                    color: $color_blue;
                }
            }

            &_box{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background-color: #12132A;
                opacity: 0;
                visibility: hidden;
                transition: 0.2s all;
                a{
                    color: white;
                }
                &.openMenu{
                    opacity: 1;
                    visibility: visible;
                    body{
                        overflow: hidden;
                    }
                }

                ul{
                    margin-top: 13rem;
                    margin-left: 4rem;
                    li{
                        margin-bottom: 1rem;
                        a {
                            font-size: 2.5rem;
                        }
                    }
                }
            }

            @include respond(down-tab-port){
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

    }

    .header__slider{
        margin-top: 12rem;
        @include respond(down-tab-port){
            margin-top: 9rem;
        }
        &_item{
            position: relative;

            img{
                width: 100%;
                height: 520px;
                object-fit: cover;
                transition: all 1s ;
                transform: scale(1.01);
                @include respond(down-tab-port){
                    height: 200px;
                }
            }
            .text__banner{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                @include respond(down-tab-port){
                    position: static;
                    transform: none;
                    margin-top: 4rem;
                }
                h1{
                    color: white;
                    font-size: 3.5rem;
                    margin-bottom: 3rem;
                    @include respond(down-tab-port){
                        color: $color_blue;
                    }
                }
            }
        }
    }

    .slick-active{
        z-index: 2;
        .header__slider_item{
            img{
                transform: scale(1);
            }
        }
    }

    .arrow__slider{
        position: absolute;
        bottom: -20px;
        @include respond(down-tab-port){
            position: static;
            margin-top: 4rem;
        }

        ul{
            margin: 0;
            border: 1px solid grey;
            @include respond(down-tab-port){
                display: inline-block;
            }
            li{
                list-style: none;
                width: 40px;
                height: 40px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                cursor: pointer;
                &:first-child{
                    background-color: white;
                    color: $color_green;
                    img{
                        transition: all 0.5s;
                    }
                }
                &:last-child{
                    background-color: $color_green;
                    color: white;
                    img{
                        transition: all 0.5s;
                    }
                }


            }
        }
    }
}

main{
    .product__wrapper{
        margin-top: 11.5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        transition: all 0.5s;
        @include respond(down-tab-port){
            margin-top: 9rem;
        }
        &.active_scroll{
            margin-top: 0;
        }
        .sidebar{
            width: 20%;
            background-color: #12132A;
            position: relative;
            @include respond(down-tab-port){
                display: none;
            }
            &__menu{
                background-color: #0056b3;
                width: 100%;
                position: sticky;
                top: 12rem;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 3rem 0;
                transition: all 0.5s;
                &.active_scroll{
                    top: 0;
                }
                ul{
                    li{
                        list-style: none;
                        a{
                            color: white;
                            text-decoration: none;
                            font-size: 1.4rem;
                            cursor: pointer;
                        }
                        &:not(:last-child){
                            margin-bottom: 1rem;
                        }
                    }
                    ul{
                        padding-left: 1rem;
                        border-left: 1px solid white;
                        li{
                            list-style: none;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
}

footer{
    padding: 5rem 4rem;
    background-color: #12132A;
    img{
        margin-bottom: 2rem;
    }
    p{
        color: white;
        margin-bottom: 2rem;
        font-size: 1.2rem;
        &:nth-child(2){
            font-weight: bold;
            font-family: "BLISS2B";
        }
    }
    ul{
        margin-bottom: 0;
        li{
            list-style: none;
            color: white;
            font-size: 1.2rem;
            font-family: 'Open Sans', sans-serif;
            span{
                display: inline-block;
                width: 70px;
                font-family: 'Open Sans', sans-serif;
                position: relative;
                &:after{
                    content: ":";
                    position: absolute;
                    right: 10px;
                    color:white;
                }
            }
        }
    }
}