header{
    position: relative;
    menu{
        padding: 2rem 4rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 3;
        border-left: 9px solid $color_blue;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
        .menu__link{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            height: 100%;
            padding-top: 1rem;

            &-top{
                li{
                    a{
                        font-size: 1.1rem;
                        color: black;
                        text-decoration: none;
                        span{
                            position: relative;
                            margin-left: 1rem;
                            img{
                                width: 10px;
                                object-fit: contain;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
            }

            &-bottom{
                display: flex;
                li{
                    a{
                        font-size: 1.2rem;
                        text-decoration: none;
                    }
                }
                &-left{
                    border-right: 1px solid black;
                    li{
                        a{
                            &.active{
                                color: black;
                            }
                        }
                    }
                }
                &-right{
                    margin-left: 2rem;
                    li{
                        a{
                            color: black;
                        }
                    }
                }
            }
            ul{
                li{
                    list-style: none;
                    display: inline-block;
                    margin-right: 2rem;
                }

                &:first-child{
                    margin-bottom: 0;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

    .header__slider{
        margin-top: 12rem;
        &_item{
            position: relative;

            img{
                width: 100%;
                height: 520px;
                object-fit: cover;
            }
            .text__banner{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                h1{
                    color: white;
                    font-size: 3.5rem;
                    margin-bottom: 3rem;
                }
            }
        }
    }

    .arrow__slider{
        position: absolute;
        bottom: -20px;
        ul{
            margin: 0;
            border: 1px solid grey;
            li{
                list-style: none;
                width: 40px;
                height: 40px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                cursor: pointer;
                &:first-child{
                    background-color: white;
                    color: $color_green;
                    img{
                        transition: all 0.5s;
                    }
                    &:hover{
                        img{
                            transform: translateX(-3px);
                        }
                    }
                }
                &:last-child{
                    background-color: $color_green;
                    color: white;
                    img{
                        transition: all 0.5s;
                    }
                    &:hover{
                        img{
                            transform: translateX(3px);
                        }
                    }
                }


                
            }
        }
    }
}

main{
    // padding: 5rem 0;

    .product__wrapper{
        margin-top: 12rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        .sidebar{
            width: 20%;
            background-color: #01233d;
            position: relative;
            &__menu{
                background-color: #0056b3;
                width: 100%;
                position: sticky;
                top: 12rem;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 3rem 0;
                ul{
                    li{
                        list-style: none;
                        a{
                            color: white;
                            text-decoration: none;
                            font-size: 1.4rem;
                            cursor: pointer;
                        }
                        &:not(:last-child){
                            margin-bottom: 1rem;
                        }
                    }
                    ul{
                        padding-left: 1rem;
                        border-left: 1px solid white;
                        li{
                            list-style: none;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
        .content{
            width: 80%;

            &__headerImg{
                height: 420px;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: brightness(0.8);
                }
                &-title{
                    position: absolute;
                    bottom: 20%;
                    left: 5%;
                    transform: translateY(-50%);
                    h1{
                        color: white;
                        font-size: 3rem;
                        &:after{
                            content: "";
                            position: absolute;
                            bottom: -3rem;
                            left: 0;
                            width: 10%;
                            height: 2px;
                            background-color: white;
                        }
                    }
                }
            }
            &__firstSection{
                padding: 9rem 5rem;
                h3{
                    color: #0056b3;
                    margin-bottom: 4rem;
                }

                p{

                }
            }

            &__visiSection{
                height: 370px;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &-desc{
                    position: absolute;
                    top: 50%;
                    left: 5%;
                    transform: translateY(-50%);
                    background-color: white;
                    width: 280px;
                    height: calc(370px - 10rem);
                    padding: 4rem;
                }
                h4{
                    margin-bottom: 6rem;
                    font-family: "MONTSERRAT-BOLD";
                    color: $color_blue;
                    display: inline-block;
                    position: relative;
                    &:after{
                        content: "";
                        position: absolute;
                        bottom: -3rem;
                        left: 0;
                        width: 95%;
                        height: 2px;
                        background-color: #0056b3;
                    }
                }
                p{
                    font-size: 1.2rem;
                    color: #0056b3;
                    font-family: "MONTSERRAT-BOLD";
                }
            }

        }
    }
}

footer{
    padding: 5rem 4rem;
    background-color: #022846;
    img{
        margin-bottom: 2rem;
    }
    p{
        color: white;
        margin-bottom: 2rem;
        font-size: 1.2rem;
        &:nth-child(2){
            font-weight: bold;
        }
    }
    ul{
        margin-bottom: 0;
        li{
            list-style: none;
            color: white;
            font-size: 1.2rem;
            font-family: 'Open Sans', sans-serif;
            span{
                display: inline-block;
                width: 70px;
                font-family: 'Open Sans', sans-serif;
                position: relative;
                &:after{
                    content: ":";
                    position: absolute;
                    right: 10px;
                    color:white;
                }
            }
        }
    }
}