// SCROLL

::-webkit-scrollbar {
width: 0px;
height: 0px;
}
::-webkit-scrollbar-button {
width: 0px;
height: 0px;
}
::-webkit-scrollbar-thumb {
background: #e1e1e1;
border: 0px none #ffffff;
border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
background: #0e0d0d;
}
::-webkit-scrollbar-track {
background: #666666;
border: 0px none #ffffff;
border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
background: #666666;
}
::-webkit-scrollbar-track:active {
background: #333333;
}
::-webkit-scrollbar-corner {
background: transparent;
}

// home

.link__to{
    background-color: $color_blue;
    display: inline-flex;
    align-items: center;
    height: 40px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    &:hover{
        // border: 1px solid $color_blue;
        // .am__bg-link{
        //     transform: translateX(0%);
        // }
        a{
            // color: $color_blue;
            span{
                img{
                    transform: translateX(4px);
                }
            }
        }
    }
    a{
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        text-decoration: none;
        z-index: 2;
        font-size: 1.4rem;
        span{
            margin-left: 1.5rem;
            img{
                transition: all 0.2s ease-in-out;
                width: 15px;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .am__bg-link{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: white;
        transform: translateX(-100%);
        transition: all 0.5s;
        z-index: 1;
    }
}

.slick-next:before {
    color: #01233d;
}

.slick-prev:before {
    color: #01233d;
}

.slick_ia{
    display: flex;
    flex-direction: row;
    p{
        color: $color_green;
    }
    .button_slider{
        margin-left: 2rem;
        li{
            cursor: pointer;
            list-style: none;
            display: inline-block;
            &:first-child{
                margin-right: 1rem;
            }
        }
    }
}

.forDesktop{
    display: flex;
    @include respond(down-tab-port){
        display: none;
    }
}

.forMobile{
    display: none;
    @include respond(down-tab-port){
        display: flex;
    }
}


// menu button

/* Icon 4 */

.menu_mobile_btn {
    width: 55px;
    height: 40px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }

.menu_mobile_btn span {
    &:not(:nth-child(2)){
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: $color_blue;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
  }

.menu_mobile_btn {
}

.menu_mobile_btn span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.menu_mobile_btn span:nth-child(2) {
  top: 18px;
  transform-origin: left center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  color: $color_blue;
  padding: 1rem 0;
}

.menu_mobile_btn span:nth-child(3) {
  top: 36px;
  transform-origin: left center;
}

.menu_mobile_btn.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 9px;
}

.menu_mobile_btn.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.menu_mobile_btn.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 39px;
  left: 9px;
}