// Arrow slider

.arrow__slider{
    

    ul{
        margin: 0;
        border: 1px solid grey;
        @include respond(down-tab-port){
            display: inline-block;
        }
        li{
            list-style: none;
            width: 50px;
            height: 50px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            cursor: pointer;
            &:first-child{
                background-color: white;
                color: $color_green;
                img{
                    transition: all 0.5s;
                }
            }
            &:last-child{
                background-color: $color_green;
                color: white;
                img{
                    transition: all 0.5s;
                }
            }


        }
    }
}

.arrow__slider_posHome{
    position: absolute;
    bottom: -20px;
    @include respond(down-tab-port){
        position: static;
        margin-top: 4rem;
    }
}

// SCROLL

::-webkit-scrollbar {
width: 0px;
height: 0px;
}
::-webkit-scrollbar-button {
width: 0px;
height: 0px;
}
::-webkit-scrollbar-thumb {
background: #e1e1e1;
border: 0px none #ffffff;
border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
background: #0e0d0d;
}
::-webkit-scrollbar-track {
background: #666666;
border: 0px none #ffffff;
border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
background: #666666;
}
::-webkit-scrollbar-track:active {
background: #333333;
}
::-webkit-scrollbar-corner {
background: transparent;
}

// home

.link__to{
    background-color: $color_blue;
    display: inline-flex;
    align-items: center;
    height: 50px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    &:hover{
        a{
            span{
                img{
                    transform: translateX(4px);
                }
            }
        }
    }
    a{
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        text-decoration: none;
        z-index: 2;
        font-size: 1.4rem;
        span{
            margin-left: 1.5rem;
            img{
                transition: all 0.2s ease-in-out;
                width: 15px;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.slick-next:before {
    color: #01233d;
}

.slick-prev:before {
    color: #01233d;
}

.slick_ia{
    display: flex;
    flex-direction: row;
    p{
        color: $color_green;
        span{
            color: black;
        }
    }
    .button_slider{
        margin-left: 2rem;
        li{
            cursor: pointer;
            list-style: none;
            display: inline-block;
            &:first-child{
                margin-right: 1rem;
            }
        }
    }
}

.forDesktop{
    display: flex;
    @include respond(down-tab-port){
        display: none;
    }
}

.forMobile{
    display: none;
    @include respond(down-tab-port){
        display: flex;
    }
}


// menu button

/* Icon 4 */

.menu_mobile_btn {
    width: 55px;
    height: 40px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }

.menu_mobile_btn span {
    &:not(:nth-child(2)){
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: $color_blue;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
  }

.menu_mobile_btn.open {
    z-index: 3;
}

.menu_mobile_btn span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.menu_mobile_btn span:nth-child(2) {
  top: 18px;
  transform-origin: left center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  color: $color_blue;
  padding: 1rem 0;
}

.menu_mobile_btn span:nth-child(3) {
  top: 36px;
  transform-origin: left center;
}

.menu_mobile_btn.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 9px;
    background-color: white;
}

.menu_mobile_btn.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.menu_mobile_btn.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 39px;
    left: 9px;
    background-color: white;
}

// proyek

.modal_project{
    .modal-body{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;
        height: 450px;
        padding: 0;
        .desc__wrapper{
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            overflow: hidden;
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &_box1{
                height: 100%;
                width: 50%;
            }
            &_box2{
                width: 50%;
                background-color: #12132A;
                opacity: 0.93;
                height: 100%;
                // overflow-x: auto;
                transition: 0.5s ease-in;
                position: relative; 
                // ::-webkit-scrollbar {
                // width: 3px;
                // height: 3px;
                // }
                // ::-webkit-scrollbar-button {
                // width: 0px;
                // height: 0px;
                // }
                // ::-webkit-scrollbar-thumb {
                // background: #e1e1e1;
                // border: 0px none #ffffff;
                // border-radius: 50px;
                // }
                // ::-webkit-scrollbar-thumb:hover {
                // background: #ffffff;
                // }
                // ::-webkit-scrollbar-thumb:active {
                // background: #ffffff;
                // }
                // ::-webkit-scrollbar-track {
                // background: #666666;
                // border: 0px none #ffffff;
                // border-radius: 50px;
                // }
                // ::-webkit-scrollbar-track:hover {
                // background: #666666;
                // }
                // ::-webkit-scrollbar-track:active {
                // background: #0056b3;
                // }
                // ::-webkit-scrollbar-corner {
                // background: transparent;
                // }
                .button__action{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .arrow__slider{
                    display: inline-block;
                    margin-top: 1rem;
                    ul{
                        margin: 0;
                        border: 1px solid grey;
                        @include respond(down-tab-port){
                            display: inline-block;
                        }
                        li{
                            list-style: none;
                            width: 40px;
                            height: 40px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 2rem;
                            cursor: pointer;
                            &:first-child{
                                background-color: white;
                                color: $color_green;
                                img{
                                    transition: all 0.5s;
                                }
                            }
                            &:last-child{
                                background-color: $color_green;
                                color: white;
                                img{
                                    transition: all 0.5s;
                                }
                            }
                        }
                    }
                }
                h3{
                    font-size: 2rem;
                    margin-bottom: 2.5rem;
                    color: white;
                    font-family: "MONTSERRAT-BOLD";
                }
                h4{
                    color: white;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    font-family: "MONTSERRAT-BOLD";
                }
                ul{
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin:1.5rem 0px;
                    li{
                        color: white;
                        font-family: "MONTSERRAT-BOLD";
                        display: inline-block;
                        font-size: 1.5rem;
                        line-height: 1em;
                        &:last-child{
                            font-size: 2rem;
                        }
                    }
                }
                p{
                    color: white;
                    font-size: 1.4rem;
                    margin-bottom: 1.5rem;
                }
                hr{
                    border-top: 1px solid $color_green;
                }

                &-item{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    // padding: 4rem;
                    transition:0.5s all;

                    .slick-slider{
                        height: 100%;
                        .slick-list{
                            height: 100%;
                            overflow: unset;
                            .slick-track{
                                height: 100%;
                                .slick-slide{
                                    div:first-child{
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }

                    .bg_institusi{
                        height: 100%;
                        position: absolute;
                        left: -100%;
                        top: 0;
                        width: 200%;
                        z-index: 2;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .deskripsi_institusi{
                        height: 100%;
                        z-index: 3;
                        position: relative;
                        padding: 4rem;
                        background-color: #12132A;
                        overflow: auto;
                    }
                }

            }

            .detail_project{
                position: absolute;
                top: -100%;
                right: 0;
            }
        }
    }

}

.link__toProject{
    background-color: $color_blue;
    display: inline-flex;
    align-items: center;
    height: 50px !important;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin-top: 1rem;
    &:hover{
        a{
            color: white;
            span{
                img{
                    transform: translateX(4px);
                }
            }
        }
    }
    a{
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        text-decoration: none;
        z-index: 2;
        font-size: 1.4rem;
        span{
            margin-left: 1.5rem;
            img{
                transition: all 0.2s ease-in-out;
                width: 15px;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}


.title{
    margin-bottom: 10rem;
    font-family: "MONTSERRAT-BOLD" !important;
    color: $color_blue;
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    &:after{
        content: "";
        position: absolute;
        bottom: -5rem;
        left: 0;
        width: 26%;
        height: 2px;
        background-color: lightgray;
    }
}

.title2{
    margin-bottom: 4rem;
    font-family: "MONTSERRAT-BOLD" !important;
    color: black;
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
}

.title-longb{
    margin-bottom: 5rem;
    font-family: "MONTSERRAT-BOLD";
    color: $color_blue;
    display: inline-block;
    position: relative;
}

hr.blue{
    border-top: 1px solid #0064af;
}

// Responsive

.forMobile1{
    display: none !important;
    @include respond(down-tab-land){
        display: block !important;
    }
}

.forDesktop1{
    display: block !important;
    @include respond(down-tab-land){
        display: none !important;
    }
}