.about__section_about{
    margin: 4rem;
    padding: 5rem 0;
    &-1{
        @include respond(down-tab-port){
            margin-bottom: 4rem;
        }
    }
    h2{
        margin-bottom: 3rem;
        font-size: 3.5rem;
        font-family: "BLISS2R";
        @include respond(down-tab-port){
            font-size: 2.5rem;
        }
    }
    p{
        // font-family: "BLISS2B";
        line-height: 2em;
    }

}


.about__section_visi{
    height: 450px;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-desc{
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        background-color: white;
        width: 333px;
        height: calc(370px - 6rem);
        padding: 4rem;
    }
    h4{
        margin-bottom: 6rem;
        font-family: "MONTSERRAT-BOLD";
        color: #022846;
        display: inline-block;
        position: relative;
        letter-spacing: normal;
        &:after{
            content: "";
            position: absolute;
            bottom: -3rem;
            left: 0;
            width: 35px;
            height: 2px;
            background-color:#0164AF;
        }
    }
    p{
        font-size: 1.7rem;
        color:#0164AF;
        font-family: "BLISS2B";
    }
}

.about__section_grup{
    margin: 4rem 0;
    padding: 5rem 0;
    &-1{
        @include respond(down-tab-port){
            margin-bottom: 4rem;
        }
    }
    h2{
        margin-bottom: 3rem;
        font-size: 3.5rem;
        @include respond(down-tab-port){
            font-size: 2.5rem;
        }
    }
    p{
        font-family: "BLISS2B";
    }

    &-box{
        height: 450px;
        box-shadow: 1px 1px 5px 0px rgba(156,156,156,1);
        border-radius: 30px;
        padding: 2rem;
        @include respond(down-phone){
            height: unset;
            margin-bottom: 2rem;
        }
        .img_wrapper{
            text-align: center;
            margin-bottom: 4rem;
            img{
                object-fit: contain;
            }
        }
    }


}

.about__section_klien{
    margin: 4rem 0;
    padding: 5rem 0;
    p{
        font-size: 1.2rem;
    }
    img{
        margin-top: 5rem;
    }
}

