.content__berita{
    width: 80%;
    margin-top: 11.5rem;

    &_wrapper{
        padding: 9rem 0;
        margin: 0 5rem;
        @include respond(down-tab-port){
            margin: 0 2rem;
        }

        &-item{
            margin-top: 8rem;
            padding: 0 1rem;
            img{
                height: 350px;
                object-fit: cover;
                margin-bottom: 2rem;
            }
            a{
                font-size: 2.6rem;
                color: #12132A;
                margin-bottom: 2rem;
                display: block;
                text-decoration: none;
                font-family: "BLISS2R";
            }
            .date_title{
                display: flex;
                p,a{
                    color: $color_blue;
                    font-size: 1.2rem;
                    font-family: "MONTSERRAT-BOLD";
                }
                span{
                    font-family: "MONTSERRAT-REGULAR";
                    color: #7070708c;
                    margin: 0 0.5rem;
                }
            }
        }
        h3{
            font-size: 4rem;
            font-family: "BLISS2B";
        }
        h4,h3{
            margin-bottom: 6rem;
            color: #12132A;
            display: inline-block;
            position: relative;
            letter-spacing: normal;
            &:after{
                content: "";
                position: absolute;
                bottom: -3rem;
                left: 0;
                width: 35px;
                height: 2px;
                background-color:#0164AF;
            }
        }
    }

    &_detail{
        padding: 9rem 0;
        margin: 0 5rem;
        @include respond(down-tab-port){
            margin: 0 2rem;
        }
        a{
            color: $color_blue;
            font-family: "MONTSERRAT-BOLD";
            font-size: 1.2rem;
            text-transform: uppercase;
            span{
                color: rgba(204, 204, 204, 0.61);
                margin: 0 0.5rem;
            }
        }

        &-content{
            h1{
                font-family: "BLISS2B";
                color: #12132A;
                font-size: 5.5rem;
                margin-top: 5rem;
                margin-bottom: 3rem;
            }
            h4{
                font-family: "BLISS2B";
                color: $color_blue;
                margin-bottom: 10rem;
                line-height: 1.5em;
            }
            .date_wrapper{
                display: flex;
                flex-direction: row;
                margin-bottom: 4rem;
                &-f{
                    width: 20%;
                    border-right: 1.4px solid #ababab6e;
                    border-top: 1.4px solid #ababab6e;
                    padding-top: 1.5rem;
                    span{
                        color: $color_blue;
                        font-size: 1.2rem;
                        font-family: "MONTSERRAT-BOLD";
                    }
                }
                &-m{
                    width: 80%;
                    border-top: 1.4px solid #ababab6e;
                    padding-top: 1.5rem;
                }
            }
            p{
                color: #12132A;
                font-family: "BLISS2R";
                line-height: 2;
            }
            img{
                width: 100%;
            }
        }
    }
}




