.content__event{
    width: 80%;
    .menuAct{
        background-color: #0056b3;
        width: 100%;
        padding: 2rem;
        transition: all 0.5s;
        &.active_scroll{
            top: 0;
        }
        ul{
            li{
                list-style: none;
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 1.4rem;
                    cursor: pointer;
                }
                &:not(:last-child){
                    margin-bottom: 1rem;
                }
            }
            ul{
                padding-left: 1rem;
                border-left: 1px solid white;
                li{
                    list-style: none;
                    margin-bottom: 1rem;
                }
            }
        }
    }
    @include respond(down-tab-port){
        width: 100%;
    }

    &__headerImg{
        height: 420px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.8);
        }
        &-title{
            position: absolute;
            bottom: 20%;
            left: 5%;
            transform: translateY(-50%);
            h1{
                color: white;
                font-size: 5rem;
                &:after{
                    content: "";
                    position: absolute;
                    bottom: -3rem;
                    left: 0;
                    width: 10%;
                    height: 2px;
                    background-color: white;
                }
            }
        }
    }
    &__firstSection{
        padding: 9rem 30rem 9rem 5rem;
        @include respond(down-tab-port){
            padding: 2rem;
        }
        p:first-child{
            color: #0056b3;
            margin-bottom: 4rem;
            font-size: 2.5rem;
        }

    }

    &__layananImg{
        height: 400px;
        position: relative;
        margin-bottom: 5rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__misiSection{
        padding: 9rem 0;
        margin: 0 5rem;
        @include respond(down-tab-port){
            margin: 0 2rem;
        }
        h4{
            margin-bottom: 6rem;
            font-family: "MONTSERRAT-BOLD";
            color: #022846;
            display: inline-block;
            position: relative;
            letter-spacing: normal;
            &:after{
                content: "";
                position: absolute;
                bottom: -3rem;
                left: 0;
                // width: 95%;
                width: 35px;
                height: 2px;
                background-color: #0056b3;
            }
        }
        .left{
            p{
                padding-right: 13rem;
            }
        }
        ul{
            border-left: 1px solid rgb(214, 214, 214);
            @include respond(down-tab-port){
                padding-left: 5rem;
                border-left: none;
            }
            li{
                list-style: none;
                padding: 3rem;
                position: relative;
                @include respond(down-tab-port){
                    border-left: 1px solid rgb(214, 214, 214);
                    padding: 2rem;
                }
                &:not(:last-child){
                    border-bottom: 1px solid rgb(214, 214, 214);
                }
                span{
                    position: absolute;
                    top: 3rem;
                    left: -45px;
                    color: $color_green;
                    font-size: 2rem;
                    line-height: 1em;
                }
            }
        }
    }

    &__layanan{
        padding-bottom: 9rem;
        margin: 0 5rem;
        @include respond(down-tab-port){
            margin: 0 2rem;
        }
        h4{
            margin-bottom: 6rem;
            color: #022846;
            display: inline-block;
            position: relative;
            letter-spacing: normal;
            &:after{
                content: "";
                position: absolute;
                bottom: -3rem;
                left: 0;
                width: 35px;
                height: 2px;
                background-color: #0056b3;
            }
        }
        h5{
            color: $color_green;
            font-weight: unset;
        }
        &_top{
            height: 400px;
            background-image: url('/Layanan-min.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 4rem;
            color: #ffffff;
            .title_wrapper{
                height: 120px;
            }
            h4{
                color: white;
                margin: 0;
                &::after{
                    background-color: white;
                    top: 9rem;
                    width: 35px;
                }
            }
            p{
                font-size: 1.4rem;
                letter-spacing: normal;
            }
        }
        &_img{
            height: 250px;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__why{
        padding: 9rem 0;
        padding-right: 30rem;
        margin: 0 5rem;
        @include respond(down-tab-port){
            margin: 0 2rem;
            padding-right: 0rem;
        }
        h3{
            font-size: 5rem;
            font-family: "BLISS2B";
        }
        h4{
            font-family: "MONTSERRAT-BOLD";
        }
        h4,h3{
            margin-bottom: 6rem;
            color: #022846;
            display: inline-block;
            position: relative;
            letter-spacing: normal;
            &:after{
                content: "";
                position: absolute;
                bottom: -3rem;
                left: 0;
                width: 35px;
                height: 2px;
                background-color: #0056b3;
            }
        }
        ul{
            margin-left: 2rem;
            li{
                font-size: 1.6rem;
                margin-bottom: 2rem;
                p{
                    margin-left: 1rem;
                }
            }
        }
        p{
            line-height: 3.5rem;
        }
    }

    &__justImage{
        height: 420px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__bannerWithBgText{
        position: relative;
        height: 600px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-desc{
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);
            background-color: white;
            width: 280px;
            padding: 4rem;
        }
        h4{
            margin-bottom: 6rem;
            font-family: "MONTSERRAT-BOLD";
            color: #022846;
            display: inline-block;
            position: relative;
            letter-spacing: normal;
            &:after{
                content: "";
                position: absolute;
                bottom: -3rem;
                left: 0;
                // width: 95%;
                width: 35px;
                height: 2px;
                background-color: #0056b3;
            }
        }
        p{
            font-size: 1.2rem;
            color: #0056b3;
            font-family: "BLISS2B";
        }
    }

    &__onlyTextOrImg{
        padding: 9rem 0;
        margin: 0 5rem;
        @include respond(down-tab-port){
            margin: 0 2rem;
        }
        h3{
            font-size: 3rem;
        }
        h4,h3{
            margin-bottom: 6rem;
            font-family: "MONTSERRAT-BOLD";
            color: #022846;
            display: inline-block;
            position: relative;
            letter-spacing: normal;
            &:after{
                content: "";
                position: absolute;
                bottom: -3rem;
                left: 0;
                width: 35px;
                height: 2px;
                background-color: #0056b3;
            }
        }
        p{
            line-height: 3.5rem;
        }

        img{
            width: 100%;
            object-fit: contain;
        }
    }

    &__slider{
        padding: 9rem 0;
        margin: 0 5rem;
        @include respond(down-tab-port){
            margin: 0 2rem;
        }
        h4{
            color: #0056b3;
            margin-bottom: 6rem;
            font-family: "MONTSERRAT-BOLD";
            color: #022846;
            display: inline-block;
            position: relative;
            letter-spacing: normal;
            &:after{
                content: "";
                position: absolute;
                bottom: -3rem;
                left: 0;
                width: 35px;
                height: 2px;
                background-color: #0056b3;
            }
        }
        .section__slider_imgWrapper{
            height: 500px;
            margin: 2rem 0;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__slider2{
        padding-top: 9rem;
        @include respond(down-tab-port){
            margin: 0 2rem;
        }
        &-wrapper{
            display: flex !important;
            flex-direction: row;
            flex-wrap: wrap;
            &--img{
                width: 50%;
            }
            &--desc{
                width: 50%;
                background-color:#1e1f42;
                padding: 4rem;
                h3{
                    color:white;
                    margin-bottom: 6rem;
                    font-family: "MONTSERRAT-BOLD";
                    display: inline-block;
                    position: relative;
                    letter-spacing: normal;
                    font-size: 2.5rem;
                    &:after{
                        content: "";
                        position: absolute;
                        bottom: -3rem;
                        left: 0;
                        width: 35px;
                        height: 2px;
                        background-color: white;
                    }
                }
                p{
                    color: white;
                }
                ul{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 4rem;
                    li{
                        list-style: none;
                        background-color: #55ba47;
                        height: 40px;
                        color: white;
                        width: 109px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                }
            }
        }

        .section__slider_imgWrapper{
            height: 500px;
            margin: 2rem 0;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__map{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        @include respond(down-tab-port){
            flex-wrap: wrap;
        }
        &-bar{
            min-height: 800px;
            background-color: #f3f3f3;
            @include respond(down-tab-port){
                min-height: unset;
            }
            &:first-child{
                width: 32%;
                @include respond(down-tab-port){
                    width: 100%;
                }
                .head{
                    height: 70px;
                    width: calc(100% - 10rem);
                    border-bottom: 1px solid black;
                    margin: auto;
                    @include respond(down-tab-port){
                        width: calc(100% - 4rem);
                        margin: 2rem;
                    }
                }
                .body{
                    width: calc(100% - 10rem);
                    margin: auto;
                    @include respond(down-tab-port){
                        width: calc(100% - 4rem);
                        margin: 2rem;
                    }
                    span{
                        font-size: 10rem;
                        line-height: 1em;
                        color: $color_green;
                        margin-bottom: 2rem;
                        display: block;
                    }
                    p{
                        color: $color_blue;
                        font-family: "BLISS2B";
                    }
                }
            }
            &:nth-child(2){
                width: 28%;
                @include respond(down-tab-port){
                    width: 100%;
                }
                .head{
                    height: 70px;
                    width: calc(100% - 5rem);
                    border-bottom: 1px solid black;
                    margin-left: 5rem;
                    display: flex;
                    @include respond(down-tab-port){
                        width: calc(100% - 4rem);
                        margin: 2rem;
                    }
                    p{
                        align-self: center;
                        color: $color_green;
                        margin: 0;
                        font-family: "MONTSERRAT-BOLD";
                    }
                }
                .body{
                    width: calc(100% - 5rem);
                    margin-left: 5rem;
                    @include respond(down-tab-port){
                        width: calc(100% - 4rem);
                        margin: 2rem;
                    }
                    span{
                        font-size: 10rem;
                        line-height: 1em;
                        color: $color_green;
                        margin-bottom: 2rem;
                        display: block;
                    }
                    p{
                        color: $color_blue;
                    }
                    ul{
                        li{
                            list-style: none;
                            padding: 1rem 0;
                            border-bottom: 1px solid black;
                            p{
                                color: $color_blue;
                                margin: 0;
                            }
                        }
                    }
                }
            }
            &:nth-child(3){
                width: 32%;
                @include respond(down-tab-port){
                    width: 100%;
                }
                .head{
                    height: 70px;
                    width: calc(100% - 5rem);
                    border-bottom: 1px solid black;
                    margin-right: 5rem;
                    display: flex;
                    @include respond(down-tab-port){
                        width: calc(100% - 4rem);
                        margin: 2rem;
                    }
                    p{
                        align-self: center;
                        color: $color_green;
                        margin: 0;
                        font-family: "MONTSERRAT-BOLD";
                    }
                }
                .body{
                    width: calc(100% - 5rem);
                    margin-right: 5rem;
                    @include respond(down-tab-port){
                        width: calc(100% - 4rem);
                        margin: 2rem;
                    }
                    span{
                        font-size: 10rem;
                        line-height: 1em;
                        color: $color_green;
                        margin-bottom: 2rem;
                        display: block;
                    }
                    p{
                        color: $color_blue;
                    }
                    ul{
                        li{
                            list-style: none;
                            padding: 1rem 0;
                            border-bottom: 1px solid black;
                            p{
                                color: $color_blue;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }

        .peta__wrapper{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% - 15rem);
            @include respond(down-tab-port){
                display: none;
            }

            .peta{
                opacity: 0.5;
                width: 100%;
            }

        }
    }

    &__struktur{
        padding: 9rem 0;
        margin: 0 5rem;
        @include respond(down-tab-port){
            margin: 0 2rem;
        }
        h3{
            font-size: 3rem;
        }
        h4,h3{
            margin-bottom: 6rem;
            font-family: "MONTSERRAT-BOLD";
            color: #022846;
            display: inline-block;
            position: relative;
            letter-spacing: normal;
            &:after{
                content: "";
                position: absolute;
                bottom: -3rem;
                left: 0;
                width: 35px;
                height: 2px;
                background-color: #0056b3;
            }
        }

        .list_struktur{
            margin-top: 8rem;
            .imgAvatar{
                width: 100%;
                height: 223px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &-item{
                p{
                    margin: 0;
                    &:first-child{
                        b{
                            font-family: "MONTSERRAT-BOLD";
                        }
                    }
                    &:nth-child(2){
                        p{
                            font-family: "BLISS2B";
                        }
                    }
                }
            }
    
            a{
                color: $color_blue;
                text-decoration: underline;
                text-decoration-color: $color_blue;;
                font-size: 1.4rem;
            }
        }
    }

    &__kontak{
        padding: 9rem 0;
        margin: 0 5rem;
        @include respond(down-tab-port){
            margin: 0 2rem;
        }
        h3{
            font-size: 3rem;
            font-family: "BLISS2B";
        }
        h4,h3{
            margin-bottom: 6rem;
            font-family: "MONTSERRAT-BOLD";
            color: $color_blue;
            display: inline-block;
            position: relative;
            letter-spacing: normal;
            &:after{
                content: "";
                position: absolute;
                bottom: -3rem;
                left: 0;
                width: 35px;
                height: 2px;
                background-color: #0056b3;
            }
        }

        h5{
            margin: 3rem 0;
            font-family: "MONTSERRAT-BOLD";
        }

        .kontak__wrapper{
            position: relative;
            &-item{
                padding: 4rem 0;
                border-top: 1px solid black;
                .kontak_title{
                    color: $color_blue;
                    font-family: "BLISS2B";
                }

                ul{
                    li{
                        list-style: none;
                        font-size: 1.4rem;
                        span{
                            width: 80px;
                            display: inline-block;
                            position: relative;
                            &::after{
                                content:":";
                                position: absolute;
                                right: 0;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    &__listImg{
        padding: 9rem 0;
        margin: 0 5rem;
        @include respond(down-tab-port){
            margin: 0 2rem;
        }
        h4{
            color: #0056b3;
            margin-bottom: 6rem;
            font-family: "MONTSERRAT-BOLD";
            color: #022846;
            display: inline-block;
            position: relative;
            letter-spacing: normal;
            &:after{
                content: "";
                position: absolute;
                bottom: -3rem;
                left: 0;
                width: 35px;
                height: 2px;
                background-color: #0056b3;
            }
        }

        .img__wrapper{
            padding: 2rem 0;
        }
    }

}