.home__section_about{
    margin: 4rem 0;
    padding: 5rem 0;
    h2{
        margin-bottom: 3rem;
        font-size: 3.5rem;
    }
    .title{
        margin-bottom: 10rem;
        font-family: "MONTSERRAT-BOLD";
        color: $color_blue;
        display: inline-block;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            bottom: -5rem;
            left: 0;
            width: 26%;
            height: 2px;
            background-color: lightgray;
        }
    }
    .fs-big{
        font-size: 17rem;
        font-family: "Bellota-Bold";
        color: $color_green;
        line-height: 1em;
        margin-top: 1rem;
    }
    .fs-med{
        font-size: 12rem;
        font-family: "Bellota-Bold";
        color: $color_green;
        line-height: 1em;
        margin-top: 1rem;
    }

    p{
        font-family: "BLISS2B";
    }

    .pm{
        border-top: 1px solid lightgray;
            }

    .km{
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        border-right: 1px solid lightgray;
    }

    .tp{
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
}

.home__section_product{
    margin: 4rem 0;
    padding: 6rem 0;
    background-color: #12132A;
    h2{
        color: white;
        font-size: 3rem;
    }

    ul{
        margin: 0;
        width: 100%;
        li{
            list-style: none;
            padding: 2rem 0;
            border-bottom: 1px solid white;
            transition: all 0.3s;
            &:first-child{
                border-top: 1px solid white;
            }
            a{
                color:white;
                font-size: 2rem;
                width: 100%;
                display: block;
                text-decoration: none;
                display: flex;
                justify-content: space-between;
                transition: all 0.5s;
                span{
                    padding-right: 2rem;
                    transition: all 0.5s;
                    img{
                        width: 20px;
                    }
                }
            }
            &:hover{
                a{
                    color: $color_blue;
                    span{
                        padding-right: 1rem;
                    }
                }
            }
        }
    }
}

.home__section_artikel{
    .button_toArtikel{
        padding: 3.5rem 0;
        text-align: right;
        width: 100%;
    }
    .artikel__firstBorder{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 3.5rem 0;
    }
    .artikel__secondBorder{
        border-bottom: 1px solid black;
        padding: 3.5rem 0;
    }
    .artikel__wrapper_desc1{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        a{
            font-family: "BLISS2R";
            color: $color_blue;
            font-size: 3rem;
            text-decoration: none;
        }
        span{
            font-size: 1.3rem;
        }
    }

    .artikel__wrapper_img1{
        position: relative;
        img{
            width: 100%;
            height: 320px;
            object-fit: cover;
        }

    }

    .artikel__wrapper_desc2{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        a{
            font-family: "BLISS2R";
            color: $color_blue;
            font-size: 1.3rem;
            text-decoration: none;
        }
        span{
            font-size: 1.3rem;
        }
    }

    .artikel__wrapper_img2{
        position: relative;
        img{
            width: 100%;
            height: 120px;
            object-fit: cover;
        }

    }
}

.linkToArtikel{
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: calc(-35px / 2);
    right: 0px;
    background-color: #55ba47;
    color: white;
    transition: all 0.5s;
    cursor: pointer;

    a{
        text-decoration: none;
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s;
        &::before{
            transition: all 1s;
        }

        img{
            width: 12px !important;
            height: 100% !important;
            object-fit: contain !important;
        }
    }

    &:hover{
        width: 70px;
        a{
            justify-content: space-around;
            &::before{
                content: "Baca";
                font-size: 1.4rem;
                color: white;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.linkToArtikel_bottom-zero{
    bottom: 0 !important;
}